a
  color: #0074D9
  text-decoration: none
  outline: 0

  &:hover,
  &:focus
    color: lighten(#0074D9, 20%)
    text-decoration: underline

.flickity-prev-next-button
  height: 50px
  width: 50px
  padding: 5px
  svg
    width: 44%
    height: 44%
    left: 28%
    top: 28%

.flickity-prev-next-button.previous
  left: -78px

.flickity-prev-next-button.next
  right: -78px