<!DOCTYPE html>
html(lang="en")
head
  title Sophie Bird
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="shortcut icon", href="./assets/img/favicons/favicon.ico")
  link(rel="stylesheet", href="assets/css/main.css")
  
body
  section.hero
    video(poster="./assets/img/sophie-poster.png" autoplay="true" loop).video-style
      source(src="./assets/img/sophie.mp4")
      source(src="./assets/img/sophie.webm")
    .v-center
      h1 Sophie Bird
      h4 Violinist for the Helsingborg Symphony Orchestra
      
  section.bio
    h2 About Me
    p 
    
  section.new_projects
    h2 New Projects
    p In 2016 I am planning to collaborate with my wonderful friend and extremely talented and vivacious musician Bridget Walsh. We will spend time in Sweden together, recording and exploring music together. This will be added to an extensive collection of musical gifts from around the world, and made into an extremely diverse record.
  
  section.photos_videos
    h2 Photos
    .photo-gallery
      img(src="./assets/img/photo_gallery/sb1.jpg").cell
      img(src="./assets/img/photo_gallery/sb2.jpg").cell
      img(src="./assets/img/photo_gallery/sb3.jpg").cell
      img(src="./assets/img/photo_gallery/sb4.jpg").cell
      img(src="./assets/img/photo_gallery/sb5.jpg").cell
      img(src="./assets/img/photo_gallery/sb6.jpg").cell
      img(src="./assets/img/photo_gallery/sb7.jpg").cell
      img(src="./assets/img/photo_gallery/sb8.jpg").cell
      img(src="./assets/img/photo_gallery/sb9.jpg").cell
      img(src="./assets/img/photo_gallery/sb10.jpg").cell
      img(src="./assets/img/photo_gallery/sb11.jpg").cell
      img(src="./assets/img/photo_gallery/sb12.jpg").cell
      img(src="./assets/img/photo_gallery/sb13.jpg").cell
      img(src="./assets/img/photo_gallery/sb14.jpg").cell
      img(src="./assets/img/photo_gallery/sb15.jpg").cell
      img(src="./assets/img/photo_gallery/sb16.jpg").cell
      img(src="./assets/img/photo_gallery/sb17.jpg").cell
      img(src="./assets/img/photo_gallery/sb18.jpg").cell
      img(src="./assets/img/photo_gallery/sb19.jpg").cell
      img(src="./assets/img/photo_gallery/sb20.jpg").cell
      img(src="./assets/img/photo_gallery/sb21.jpg").cell
      
    h2 Videos
    .video-gallery
      iframe(width="640" height="360" src="https://www.youtube-nocookie.com/embed/DWdXPFVaYbo?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen)
      iframe(width="640" height="360" src="https://www.youtube-nocookie.com/embed/-DlRGbx-FPU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen)
      iframe(width="640" height="360" src="https://www.youtube-nocookie.com/embed/Mt7kr1CqRpE?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen)
      iframe(width="640" height="360" src="https://www.youtube-nocookie.com/embed/CE-jxjsmCT0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen)
  
  footer
    a(href="https://www.instagram.com/sophiemariebird/") Instagram
    a(href="http://sophievaleriebird.tumblr.com/") Tumblr
    a(href="http://www.helsingborgskonserthus.se/") Helsingborg Symphony Orchestra
      
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
  //- script(src="./vendors/jquery/dist/jquery.min.js")
  script(src="./assets/js/app.js")