<!DOCTYPE html>
html(lang="en")
head
  title Sophie Bird
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="shortcut icon", href="./assets/img/favicons/favicon.ico")
  link(rel="stylesheet", href="assets/css/main.css")
body
  section.hero
    video(poster="./assets/img/sophie-poster.png" autoplay="true" loop).video-style
      source(src="./assets/img/sophie.mp4")
      source(src="./assets/img/sophie.webm")
    .v-center
      h1 Sophie Bird
      h4 Violinist for the Amsterdam Orchestra
  section.bio hi
  
  script(src="./vendors/jquery/dist/jquery.min.js")
  script(src="./assets/js/app.js")